{% extends 'layout/mail.html.twig' %}
{% block mail_subject %}Passwort zurücksetzen{% endblock %}
{% block mail_body %}
    <h1>Hallo {{ username }}!</h1>
    <p>
        Du hast das Zurücksetzen Deines Passworts angefordert, bitte bestätige die Anfrage
        bis zum {{ expiresAt|localizeddate('long', 'short') }} durch Klick auf folgenden Link,
        dort kannst Du ein neues Passwort vergeben:
    </p>
    <p>
        <a href="{{ validationUrl }}">{{ validationUrl }}</a>
    </p>
    <p>
        Sollte der Link nicht funktionieren so kopiere bitte die vollständige URL
        in die Browser-Adresszeile.<br>
        Hast du diese Anfrage nicht selbst gestellt so kannst du diese Email ignorieren,
        der Link wird nach Ablauf der Frist automatisch ungültig.
    </p>
{% endblock %}